<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <img class="coverImg" [src]="createImgPath(event.image)" alt="">
                <mat-card-actions>
                   
                    
                    <div *ngIf="participated==true">
                        <a mat-raised-button (click)="deleteParticipation()">Cancel</a>
                    </div>
                    <div *ngIf="participated==false">
                        <a mat-raised-button (click)="addParticipation()">Participate</a>
                    </div>

                </mat-card-actions>

            </mat-card>

        </div>
        <div class="col-md-7">
            <mat-card class="example-card eventDescription">
                <mat-card-header>
                    <mat-card-title> Details </mat-card-title>
                    <mat-card-subtitle> <mat-icon>date_range</mat-icon> From {{event.dateDebut | date:"MM/dd/yy HH:mm"}}
                        until
                        {{event.dateFin | date:"MM/dd/yy HH:mm"}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><mat-icon>title</mat-icon> {{event.eventName | titlecase}}</p>
                    <p><mat-icon>location_on</mat-icon> {{event.adresse | titlecase}}</p>
                    <p><mat-icon>description</mat-icon> {{event.description | titlecase}}</p>
                    <h6> <mat-icon>people</mat-icon> Participants : {{event.participantNumber}} </h6>

                    <span *ngFor="let p of event.participation">
                        <img class="me-2 avatar-sm rounded-circle" [src]="createImgPath(p.image)" alt="Generic placeholder image">
                        
                    </span>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-md-5">
            <mat-card class="example-card mapCard">

                <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
                </div>

                <mat-card-footer>
                    <h6> {{event.adresse | titlecase}} </h6>
                    <mat-card-subtitle>From {{event.dateDebut | date:"MM/dd/yy HH:mm"}} until {{event.dateFin |
                        date:"MM/dd/yy HH:mm"}}</mat-card-subtitle>
                </mat-card-footer>


            </mat-card>
        </div>


    </div>
</div>
<app-footer></app-footer>