<div class="container">
    <br>
    <h5>Discover events </h5>
    <div class="row">
        <div class="col-md-4" *ngFor="let event of events">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{event.eventName|titlecase}}</mat-card-title>
                    <mat-card-subtitle>{{event.dateDebut | date:"MM/dd/yy HH:mm"}}</mat-card-subtitle>
                </mat-card-header>
                <img *ngIf="!event.image"  class="imageCard" mat-card-image src="assets/img/Event1.png" alt="Photo of a Shiba Inu">
                <img *ngIf="event.image"  class="imageCard" mat-card-image [src]="createImgPath(event.image)" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{event.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button [routerLink]="['/eventDetails',event.idEvent]" mat-button>View Event</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
<app-footer></app-footer>
