<div *ngIf="!event.stepsDone">
  <app-event [item]="myParam"></app-event>
</div>
<div *ngIf="event && event.stepsDone">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <img class="coverImg" src="assets/img/Event1.png" alt="">
          <mat-card-actions>
            <a mat-raised-button (click)="editEvent(myParam)">Edit event</a>

          </mat-card-actions>

        </mat-card>

      </div>
      <div class="col-md-7">
        <mat-card class="example-card eventDescription">
          <mat-card-header>
            <mat-card-title> Details </mat-card-title>
            <mat-card-subtitle> <mat-icon>date_range</mat-icon> From {{event.dateDebut | date:"MM/dd/yy HH:mm"}} until
              {{event.dateFin | date:"MM/dd/yy
              HH:mm"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><mat-icon>title</mat-icon> {{event.eventName | titlecase}}</p>
            <p><mat-icon>location_on</mat-icon> {{event.adresse | titlecase}}</p>
            <p><mat-icon>description</mat-icon> {{event.description | titlecase}}</p>
            <p><mat-icon> attach_money</mat-icon> {{event.cout }}</p>
            <h6> <mat-icon>people</mat-icon> Participants</h6>

            <p></p>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-md-5">
        <mat-card class="example-card mapCard">

          <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
          </div>

          <mat-card-footer>
            <h6> {{event.adresse | titlecase}} </h6>
            <mat-card-subtitle>From {{event.dateDebut | date:"MM/dd/yy HH:mm"}} until {{event.dateFin | date:"MM/dd/yy
              HH:mm"}}</mat-card-subtitle>
          </mat-card-footer>


        </mat-card>
      </div>
      <div *ngIf="event.notifications" class="col-md-6">
        <mat-card class="example-card Services-card">
          <mat-card-header>
            <mat-card-title> Commands </mat-card-title>

          </mat-card-header>
          <mat-card-content>
            <mat-card class="example-card" *ngFor="let n of event.notifications">
              <mat-card-header>
                <mat-card-title> {{n.service.serviceName|titlecase}} </mat-card-title>

              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-8">

                    <p>Description: {{n.service.description|titlecase}}</p>
                    <p>Price: {{n.service.prix}}</p>
                  </div>
                  <div class="col-4">
                    <!-- <img *ngIf="n.content!='Rejected' && n.content!=null" src="assets/img/Approved.png" alt="" width="90%"> -->
                    <img *ngIf="n.content=='Rejected'" src="assets/img/Rejected.png" alt="" width="90%">
                    <img *ngIf="n.content=='In Porgress'" src="assets/img/inProg.png" alt="" width="90%">
                    <img *ngIf="n.content=='To do'" src="assets/img/onHold.png" alt="" width="90%">
                    <img *ngIf="n.content=='Done'" src="assets/img/Approved.png" alt="" width="90%">
                  </div>
                </div>

              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button (click)="openDialog(n)" color="primary">Show details</a>

              </mat-card-actions>
            </mat-card>
          </mat-card-content>

        </mat-card>

      </div>
      <div class="col-md-6">
        <mat-card class="example-card Extern-ervices-card">
          <mat-card-header>
            <mat-card-title> External services </mat-card-title>

          </mat-card-header>
          <mat-card-content>

            <mat-card class="example-card" *ngFor="let s of event.externServices">
              <mat-card-header>
                <mat-card-title> {{s.serviceName}} </mat-card-title>
                <mat-card-subtitle>{{s.provider}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>Link: {{s.lien}}</p>
                <p>Price: {{s.prix}}</p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button [href]="'https://' + s.lien" target="_blank" color="primary">Show details</a>

              </mat-card-actions>
            </mat-card>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>



</div>