<div class="container">
    <div class="row">
        <div class="col-md-8">
            <button mat-raised-button color="basic" (click)="openDialog()">Create an event</button>

            test

        </div>
        <div class="col-md-4">
            
            <div *ngFor="let e of Events">
                <mat-card class="example-card">

                    <mat-card-header>
                        <a mat-card-title [routerLink]="['/eventPage',e.idEvent]">{{e.eventName| titlecase}}</a>
                        <mat-card-subtitle>From {{e.dateDebut| date:"MM/dd/yy HH:mm"}} AM until {{e.dateFin| date:"MM/dd/yy HH:mm"}} AM </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{e.description| titlecase}}</p>
                        
                    </mat-card-content>

                </mat-card>
            </div>


        </div>
    </div>
</div>