<div class="container">
    <div>

        <div align="left">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Filter" (keyup)="Filterchange($event)">

            </mat-form-field>
        </div>
        <table mat-table matSort [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="service">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Service </th>
                <td mat-cell *matCellDef="let element"> {{element.service.serviceName | titlecase}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dateNotif">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dateNotif | date:"MM/dd/yy HH:mm"}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="user">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> UserName </th>
                <td mat-cell *matCellDef="let element"> {{element.user.email | titlecase}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="event">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Event </th>
                <td mat-cell *matCellDef="let element"> {{element.event.eventName | titlecase}} </td>
            </ng-container>

            

            <!-- Symbol Column -->


            <ng-container matColumnDef="content">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> State </th>
                <td mat-cell *matCellDef="let element">

                    <mat-form-field class="act" appearance="outline">
                        <mat-label>{{element.content }} </mat-label>
                        <mat-select>

                            <mat-option (click)="stateInPorgress(element.idNotification,element.user.email)" value="In progress">In progress</mat-option>
                            <mat-option (click)="stateDone(element.idNotification,element.user.email)" value="Done">Done</mat-option>
                            <mat-option (click)="stateRejected(element.idNotification,element.user.email)" value="Reject">Reject</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            




            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

    </mat-paginator>
</div>