<div class="container">
    <div>

        <div align="left">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Filter" (keyup)="Filterchange($event)">

            </mat-form-field>
        </div>
        <table mat-table matSort [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="service">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Service </th>
                <td mat-cell *matCellDef="let element"> {{element.service.serviceName | titlecase}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dateNotif">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dateNotif | date:"dd/MM/yyyy HH:mm"}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="user">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> UserName </th>
                <td mat-cell *matCellDef="let element"> {{element.user.email | titlecase}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="event">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Event </th>
                <td mat-cell *matCellDef="let element"> {{element.event.eventName | titlecase}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="State">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> State </th>
                <td mat-cell *matCellDef="let element"> {{element.content | titlecase}} </td>
            </ng-container>



            <!-- Symbol Column -->


            <ng-container matColumnDef="content">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Action </th>
                <td mat-cell *matCellDef="let element">

                    <div class="btn-group">
                        <button [disabled]="element.closed" type="button" mat-raised-button color="primary"
                            class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">

                            <li><a *ngIf="element.content==null" [routerLink]="" class="dropdown-item">To do</a></li>
                            <li><a *ngIf="element.content!='Done'" [routerLink]=""
                                    (click)="stateInPorgress(element.idNotification,element.user.email)"
                                    class="dropdown-item">In Progress</a></li>
                            <li><a [routerLink]="" (click)="stateDone(element.idNotification,element.user.email)"
                                    class="dropdown-item">Done</a></li>
                            <li><a [routerLink]="" (click)="stateRejected(element.idNotification,element.user.email)"
                                    class="dropdown-item">Reject</a></li>
                        </ul>
                    </div>
                </td>
            </ng-container>






            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

    </mat-paginator>
</div>
<app-footer></app-footer>