#searchbar{
  margin-left: 15%;
  padding:5px;
  border-radius: 10px;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #ffffff;
    color: white;
    padding: 16px;
    text-align: center;
}

.content {
    
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    background-color: white;
    margin-left: 20px;
    
    color: lightgray;
}

mat-sidenav-container {

    background-size: 100% auto;

    height: calc(100vh - 65px);
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.mat-panel-title{
    width: 100%;
}


mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

span{
    color: black;
}
mat-icon{
    color: black;
}

.mat-elevation{
    color: black;
}
.mat-toolbar.mat-primary{
    background:#FF4080;
}
mat-toolbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
    
}

