<div class="container">
    <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Add a cover photo:</ng-template>

                <h6>Cover photo</h6>
                <div class="card cover" align="center">
                    <button mat-stroked-button class="coverBtn">
                        <mat-icon> insert_photo</mat-icon>
                        Import a cover photo</button>
                </div>
                <div align="end">

                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field class="adress" appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <p>Go to a different step to see the error state</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Add services</ng-template>
            <div class="row servRow">
                <div class="col-md-8 scroll">
                    <mat-card>
                        <mat-card-content>
                            <div *ngIf="empty==true">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let s of getPaginatedFilteredData()">
                                    <div>
                                        <div class="card servCard" style="width: 12rem;">
                                            <span class="notify-badge" *ngIf="s.provider=='EBAY'">
                                                <img src="assets/img/ebay.png" class="card-img-top" alt="...">
                                            </span>
                                            <img src="assets/img/food.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p> {{s.serviceName.split(' ').slice(0, 5).join(' ') | titlecase }}
                                                    ... </p>
                                                <p><span class="card-text">{{s.description | titlecase}}</span></p>

                                                <a mat-stroked-button color="basic"
                                                    (click)="AddServiceChip(s.idService,s.serviceName,s.prix)">Add
                                                    Service</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <mat-paginator [pageSizeOptions]="[6, 12, 24]" [pageSize]="pageSize"
                                    [pageIndex]="pageIndex" [length]="MyServices?.length"
                                    (page)="onPageChanged($event)">
                                </mat-paginator>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="">
                        <mat-card-header>
                            <mat-card-title>Filters: </mat-card-title>
                        </mat-card-header>
                        <br>
                        <mat-card-content>
                            <form (submit)="SearchServices(searchForm.value)">
                                <div class="row">
                                    <div class="col-md-7">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Keyword</mat-label>
                                            <input [formControl]="searchForm" #x matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="search" mat-stroked-button>Search</button>
                                    </div>
                                </div>
                            </form>

                            <h6>Providers</h6>
                            <mat-list>
                                <mat-list-item>
                                    <mat-checkbox [formControl]="INTERN" checked="true"
                                        (ngModelChange)="filterServices()" color="primary"
                                        class="example-margin">Internal
                                        services</mat-checkbox>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-checkbox [formControl]="EBAY" (ngModelChange)="filterServices()"
                                        color="primary" class="example-margin">Ebay services</mat-checkbox>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-checkbox [formControl]="AMAZON" (ngModelChange)="filterServices()"
                                        [value]="'AMAZON'" color="primary" class="example-margin">Amazon
                                        services</mat-checkbox>
                                </mat-list-item>
                            </mat-list>
                            <h6>Category</h6>
                            <mat-list>
                                <mat-form-field appearance="outline">
                                    <mat-label>Category</mat-label>
                                    <mat-select [formControl]="categories" multiple>
                                        <mat-option *ngFor="let category of categoryList"
                                            [value]="category">{{category}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-list>

                            <h6>Price</h6>
                            <mat-list>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Minimum</mat-label>
                                            <input type="number" matInput>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Maximum</mat-label>
                                            <input type="number" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="exe">
                        <mat-card-content>
                            <p><b>Cost: </b> {{sum}}$</p>
                            <p><b>Services:</b> </p>

                            <mat-chip-row *ngFor="let serv of servicesList" (removed)="remove(serv)">
                                {{serv.name.split(' ').slice(0, 3).join(' ')}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>