.mat-mdc-form-field {
    
}

mat-form-field {
    width: 100%;
}

.container {
    width: 100% !important;
}

mat-stepper {
    width: 100%;
}

.example-chip-list {
    width: 100%;
}

.cover {
    height: 13rem;
}
.coverBtn{
    width: auto !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scroll {
    max-height: 60rem;
    overflow-y: auto;
}
.servRow{
    margin-top: 2%;
}
.exe{
    margin-top: 10px;
}
.adress{
    margin-top: 10px;
}

.search{
    height: 3.5rem
}

.mat-stroked-button{
    vertical-align: bottom;
}
.card-text{
    font-size: 14px;
    color: gray;
}
.notify-badge{
    position: absolute;
    align-items: right !important;
    width: 5rem;
}

.card-img-top{
    align-items: right !important;
}
mat-chip-row{
    margin-right: 3px;
    margin-bottom: 2px;
}