body{
    background-color: #121212;
}
h1{
    font-weight: bolder;
    color: #f44336;
    font-size: 4em;
}
a{
    color: #feae00;
    font-size: 2em;
}
a:hover{
    color: #feae00;
    font-size: 2em;
}
h3{
    margin-left: 1cm;

}
h2{
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: bolder;
}
.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  /*  background-color: #feae00;*/
    font-weight: bolder;
    
}
.container{
    
}

