
<div class="container">
    


      <div class="container home">
        <div class="row">
            <p></p>
            <p></p>
            <br>
            <br>
    
            <div class="col-md-5" style="margin-top: 50px;">
    
                <div class=""></div>
                <img src="assets/img/shoesLogo.png" alt="">
    
            </div>
            <div class="col-md-7" style="margin-top: 50px;">
                <div class="row">
                    <h1>NEW FEATURE !</h1>
                    <h3>CUSTOM YOUR SHOES RIGHT AWAY ON OUR WEBSITE.</h3>
                    <br>
    
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-4"></div>
    
    
                </div>
    
    
            </div>
    
    
            <div class="col-md-6">
                <img src="assets/img/Schedule-bro.png" width="500px" height="500px" alt="">
            </div>
            <div class="col-md-6" align="center">
    
                <h2>CUSTOM</h2>
                <div class="col-7">
    
                    <p style="margin-top: 50px;">
    
                        In this step we help our customers to get inspired and imagine their own ideas that represent them
                        and all we have to do is to turn that imagination into reality.
                    </p>
                    <button mat-stroked-button color="warn">RENOVATE MY SHOE</button>
                    <hr style="margin-top: 150px;">
                </div>
    
    
            </div>
    
    
            <div class="col-md-6" align="center">
    
                <h2>RENOVATE</h2>
                <div class="col-7">
    
                    <p style="margin-top: 50px;">
                        This service consits of renovating shoes & reparing them, moving oxidation from most materials in
                        order
                        to give old sneakers a new life.
                    </p>
                    <button mat-stroked-button color="warn">RENOVATE MY SHOE</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/img/Schedule-amico.png" width="500px" height="500px" alt="">
                
            </div>
    
            
    
    
        </div>
    
    
    </div>
</div>



<app-footer></app-footer>